.m-dialog-login .el-dialog__title {
  font-weight: bold;
}

.m-dialog-login .m-content {
  height: 200px;
}

.m-dialog-login .m-content .m-form-login .m-btn-login {
  width: 100%;
}

.m-dialog-login .m-content .m-other-way {
  height: 20px;
  line-height: 20px;
  color: #409eff;
}

.m-dialog-login .m-content .m-other-way:hover {
  cursor: pointer;
}

.m-dialog-login .m-content .m-protocol {
  height: 20px;
  line-height: 20px;
  margin: 5px 0;
}

.m-dialog-login .m-content .m-protocol .m-mark {
  color: #409eff;
}

.m-dialog-login .m-content .m-protocol .m-mark:hover {
  cursor: pointer;
}
